venv
.idea
__pycache__
lesson_2.py
main.py
marsel_22-3_hw11.py
marsel_22-3_hw2.py
marsel_22-3_hw3.py
marsel_22-3_hw4.py
marsel_zulpukarov_22-3_hw1.py
colors.txt
emails.txt
casino
marsel_22-3_hw6.py
MOCK_DATA.txt
name_surname.txt